header {
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
  height: 35px;
  background-color: black;
  justify-content: right;
  gap: 40px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding-top: 5px;
  padding-right: 10px;
}

nav a:hover {
  color: burlywood;
}

body {
  background-color: saddlebrown;
  box-sizing: border-box;
}

main {
  width: 780px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-image {
  width: 400px;
}

.product-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-container {
  background-color: burlywood;
}

.promo-code {
  background-color: rgba(0, 0, 7);
  border:1px solid black;
  margin-left:40px;
  margin-top: 10px;
  margin-right: 40px;
  padding: 15px;
  width: 300px;
  color: white;
  border: 2px solid wheat;
  text-align: center;
}

.product-detail h1 {
  padding-left: 10px;
}

.product-detail p {
  padding-left: 10px;
}

.row {
  display: flex;
  gap: 1px;
}

.related-product {
  width: 100%;
  background-color: wheat;
  border: 2px solid saddlebrown;
  padding: 3px;
  margin: 2px;
  position: relative;
}

.related-product img {
  width: 180px;
  object-fit: cover;
}

.related-product-name {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0.7;
}

.related-product:hover .related-product-name {
  visibility: visible;
}
h1 {
  padding-left: 10px;
  margin-bottom: auto;
  margin-top: 40px;
}


